<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gaspillage alimentaire{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    </head>
    <body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href=""><div class="glyphicon glyphicon-home">Gapsillage alimentaire</div></a></h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <button type="button" id="sidebarCollapseInfo" class="btn btn-info navbar-btn">
                        S'informer
                    </button>
                    <div class="wrapperInfo">
                        <nav id="sidebarInfo">
                            <ul class="list-unstyled components">
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                            </ul>
                        </nav>
                    </div>
                </li>
                <li>
                    <button type="button" id="sidebarCollapseTrain" class="btn btn-info navbar-btn">
                        S'entrainer
                    </button>
                    <div class="wrapperTrain">
                        <nav id="sidebarTrain">
                            <ul class="list-unstyled components">
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                            </ul>
                        </nav>
                    </div>
                </li>
                <li>
                    <button type="button" id="sidebarCollapseChall" class="btn btn-info navbar-btn">
                        Faire des défis
                    </button>
                    <div class="wrapperChall">
                        <nav id="sidebarChall">
                            <ul class="list-unstyled components">
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                                <a>test</a>
                            </ul>
                        </nav>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
