{% extends 'layout.html.twig' %}

{% block title %}Menu principal | Resteatable{% endblock %}

{% block pageContent %}
    <section class="homeSection">
        <div class="pageContent home">
            <div class="row">
                <img class="logo-site center-block" src="{{ asset('images/logo') }}" alt="Logo du site"/>
            </div>
            <div class="row">
                <p class="index-title text-center"><span>Rest'</span> à table</p>
                <p class="index-text text-center">Plateforme d'éducation pour le développement durable
                    <br/>Lutte contre le gaspillage alimentaire</p>
            </div>
            <div class="row pull-right">
                <img class="logo-gauche logosMini" src="{{ asset('images/logo_ligue-enseignement.png') }}"
                     alt="Logo de la ligue de l'enseignement"/>
                <img class="logo-droite logosMini" src="{{ asset('images/logo_programme-national.png') }}"
                     alt="Logo du programme national"/>
            </div>
        </div>
    </section>
{% endblock %}
