{% extends 'layout.html.twig' %}

{% block title %}Menu principal | Rest' à table{% endblock %}

{% block pageContent %}
    <section class="homeSection">
        <div class="row pageContent">
            <div class="logo-container">
                <img class="logo-site center-block" src="{{ asset('images/logo.png') }}" alt="Logo du site"/>
            </div>
            <div class="col-xs-offset-1 col-xs-10 homeText">
                <div class="row website-introduction">
                    <h1>Plateforme d’éducation au développement durable</h1>
                    <p>Lutte contre le gaspillage alimentaire</p>
                </div>
                <div class="row website-description">
                    <div class="col-xs-6 section-descriptions-container">
                        <div class="section-description">
                            <h2>S'informer</h2>
                            <p>
                                Explore l’actualité du développement durable et du gaspillage alimentaire
                            </p>
                        </div>
                        <div class="section-description">
                            <h2>S'entraîner</h2>
                            <p>
                                Teste tes connaissances et tes réflexes sur le gaspillage alimentaire
                            </p>
                        </div>
                        <div class="section-description">
                            <h2>Faire des défis</h2>
                            <p>
                                Réalise des défis et change ton comportement
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
