{% extends 'layout.html.twig' %}

{% block topBar %}{% endblock %}
{% block navbar %}{% endblock %}

{% block pageContent %}
    <section class="index-section">
        <img class="logo-association" src="http://via.placeholder.com/100x100" alt="Logo de l'association">
        <div class="flex-container">
            <div>
                <img class="logo-site" src="http://via.placeholder.com/600x300" alt="Logo du site">
                <p class="index-texte">Texte de présentation du site</p>
            </div>
            <div>
                <a class="btn btn-lg btn-primary" href="{{ path('main_menu') }}" role="button">Commencer</a>
            </div>
        </div>
    </section>
{% endblock %}
