<div id='cssmenu'>
    <ul>
        <a href='#'><span>Home</span></a>
        <div  class="menuContent">
            <li class='top has-sub'><a href='#'><span>S'informer</span></a>
                <ul>
                    <h3>S'informer</h3>
                    <div class="title"><h4>TOUTE LES RESSOURCES :</h4></div>
                    <li><a href='#'><span>Product 1</span></a></li>
                    <li><a href='#'><span>Product 2</span></a></li>
                </ul>
            </li>
            <li class="middle has-sub"><a href='#'><span>S'entrainer</span></a>
                <ul>
                    <h3>S'entrainer</h3>
                    <div class="title"><h4>TOUS LES JEUX :</h4></div>
                    <li><a href="#"><span>About 1</span></a></li>
                    <li><a href="#"><span>About 1</span></a></li>
                </ul>
            </li>
            <li class='last has-sub'><a href='#'><span>Faire des défis</span></a>
                <ul>
                    <h3>Défi</h3>
                    <div class="title"><h4>DEFIS A FAIRE :</h4></div>
                    <li><a href="#"><span>Contact 1</span></a></li>
                    <li><a href="#"><span>Contact 1</span></a></li>
                </ul>
            </li>
        </div>
    </ul>
</div>