<div class="navbar-fixed cssmenu">
    <ul>
        <a href='#' class="home">
            <div class="glyphicon glyphicon-home">Accueil</div>
        </a>
        <li class='top has-sub'><a href='#one'><span>S'informer</span></a></li>
        <li class="middle has-sub"><a href='#two'><span>S'entrainer</span></a></li>
        <li class="last has-sub"><a href="#three">Faire des défis</a></li>
    </ul>
    <ul id="one">
        <h3>S'informer</h3>
        <div class="title"><h4>TOUTE LES RESSOURCES :</h4></div>
        <li><a href='#'><span>Product 1</span></a></li>
        <li><a href='#'><span>Product 2</span></a></li>
    </ul>
    <ul id="two">
        <h3>S'entrainer</h3>
        <div class="title"><h4>TOUS LES JEUX :</h4></div>
        <li><a href="#"><span>About 1</span></a></li>
        <li><a href="#"><span>About 1</span></a></li>
    </ul>
    <ul id="three">
        <h3>Défi</h3>
        <div class="title"><h4>DEFIS A FAIRE :</h4></div>
        <li><a href="#"><span>Contact 1</span></a></li>
        <li><a href="#"><span>Contact 1</span></a></li>
    </ul>
</div>