<nav class="nav navbar-fixed-top topBar">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <p class="text-center title_topbar">Menu principal</p>
        </div>
        <div class="col-xs-1">
            <a href="#" class="btn btn-default pull-right"><img src="{{ asset('images/icons/icon_account.svg') }}"/> Mon
                compte</a>
        </div>
    </div>
</nav>