<nav class="nav navbar-fixed-top topBar {{ colorBackground }}">
    <p class="text-center title_topbar">{{ title }}</p>
    <a href="#">
        <button class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span> Ressources</button>
    </a>
</nav>