<nav class="nav navbar-fixed-top topBar {{ colorBackground }}">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <p class="text-center title_topbar">{{ title }}</p>
        </div>
        <div class="col-xs-1">
            <a href="{{ path('resources_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-info-sign"></span> Ressources
            </a>
        </div>
    </div>
</nav>