{% extends 'base.html.twig' %}

{% block title %}Administration | Rest' à table{% endblock %}

{% block layout %}

    <section class="container">
        {% block pageContent %}{% endblock %}
    </section>

{% endblock %}