{% extends 'admin/layoutAdmin.html.twig' %}

{% block pageContent %}
    <div class="panel panel-default admin">
        <div class="panel-heading">
            <h1 class="panel-title text-info text-center">S'entraîner - Ajouter un jeu</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <a href="{{ path('admin_game_index') }}" class="btn_admin btn btn-default pull-right"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la
                    liste</a>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn_admin btn btn-default" type="submit">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
