<div style="text-align:center"><img src="http://164.132.59.125/images/logo.png"></div>
<div style="text-align: center">
    <h1>Rest' à table</h1>
    <h2 style="color:red">Du contenu inapproprié a été signalé !</h2>
</div>

<h2 style="text-align: center">
    Cliquez sur le lien suivant pour accéder à la partie d'administration du site :
    <a href="http://164.132.59.125/admin/moderation/">Rest'à Table | Admin</a>
</h2>