$grey_border: grey;

hr {
  border-top: 1px solid $grey_border;
}

.btn_admin {
  border: 2px solid $grey_border;
  border-radius: 50px;
  background-color: $navBarsColor;
  color: white;
}

.adminLogin {
  width: 50vw;
  margin: auto;
  .loginForm {
    display: flex;
    flex-direction: column;
  }
}

.admin {
  margin-top: 20px;
  .panel-title {
    font-size: 2vw;
    color: $grey_border;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .panel-body {
    margin: 15px;
    .listAdmin {
      .row {
        margin: 0;
      }
      p {
        font-size: 1.5vw;
      }
      .form-control {
        border: 2px solid $grey_border;
        border-radius: 50px;
      }
      .vignetteList {
        min-height: 150px;
        width: 75%;
        margin-bottom: 10px;
      }
      .imgEdit {
        width: 400px;
        height: auto;
      }
      .date {
        font-size: 1vw;
      }
      .link {
        font-size: 1vw;
        font-style: italic;
      }
      .ckeckbox {
        text-decoration: none;
        color: $navBarsColor;
        font-size: 1vw;
      }
      .ckeckbox:hover {
        color: $grey_border;
      }
    }
    .labels_admin {
      font-size: 1vw;
      color: grey;
    }
  }
}




