$grey_border: grey;

hr {
  border-top: 1px solid $grey_border;
}

.btn_admin {
  border: 2px solid $grey_border;
  border-radius: 50px;
  background-color: $navBarsColor;
  color: white;
}

.adminLogin {
  width: 30vw;
  margin: auto;
  .logo-site {
    max-height: 150px;
    width: auto;
  }
  .label_error_login {
    margin-bottom: 15px;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    .rememberMeCheckbox {
      cursor: pointer;
    }
  }
}

.admin, .adminLogin {
  margin-top: 20px;
  .panel-title {
    font-size: calc(1.8vw + 10px);
    color: $grey_border;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .panel-body {
    margin: 15px;
    .listAdmin, .loginForm {
      .row {
        margin: 0;
      }
      p {
        font-size: calc(0.8vw + 10px);
        margin-bottom: 15px;
      }
      .vignetteList {
        min-height: 150px;
        width: 75%;
        margin-bottom: 10px;
      }
      .imgEdit {
        width: 250px;
        height: auto;
      }
      .date {
        font-size: calc(0.5vw + 10px);
      }
      .link {
        font-size: calc(0.5vw + 10px);
        font-style: italic;
      }
      .ckeckbox {
        text-decoration: none;
        color: $navBarsColor;
        font-size: 1vw;
      }
      .ckeckbox:hover {
        color: $grey_border;
      }
    }
    .labels_admin {
      font-size: calc(0.4vw + 10px);
      color: grey;
    }
  }
}

.reported-answer-challenge {
  .panel-body {
    .listAdmin {
      .name p {
        font-size: calc(0.4vw + 10px);
      }
      .answer-content-container {
        .message p {
          font-size: calc(0.4vw + 10px);
        }
      }
    }
  }
  .buttons-container {
    display: flex;
    flex-direction: row;
    button {
      margin-left: 5px;
    }
  }
}
