.challenge-index-section {
  height: 100vh;
  display: flex;
  .pageContent {
    width: 100%;
    ul {
      padding: 30px 0;
      margin: 0;
      .row {
        padding: 0;
      }
      li {
        list-style: none;
        width: 100%;
        h1 {
          margin: 45px 0 0 80px;
          font-size: calc(0.7vw + 10px);
          color: #424242;
          font-weight: 700;
          text-transform: uppercase;
        }
        .summary {
          margin: 20px 0 47px 80px;
          font-size: calc(0.3vw + 10px);
          color: $textDescription;
          padding: 0;
        }
        a {
          button {
            margin: 20px 0 0 40px;
            background-color: $challengeSectionColor;
            width: 175px;
            height: 36px;
            border-radius: 100px;
            color: #ffffff;
            font-size: calc(0.4vw + 10px);
            font-weight: 600;
          }
        }
      }
      hr {
        border-top: 2px solid #979797;
        height: 1px;
      }
    }
  }
}

.challenge-response-section {
  height: 100vh;
  display: flex;
  .pageContent {
    width: 100%;
    .row {
      margin: 0;
    }
    .description {
      color: $textDescription;
      font-size: calc(0.3vw + 10px);
    }
    .page {
      padding-top: 30px;
      hr {
        margin-top: 50px;
      }
      h2 {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: calc(0.7vw + 10px);
        color: #424242;
      }
      h1 {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: calc(0.7vw + 10px);
        color: #424242;
      }
      .videos {
        margin-top: 30px;
        .thumbnail {
          padding: 40px;
          iframe {
            height: 300px;
            width: 100%;
          }
        }
      }
      .img-thumbnail {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
      }
      .btnValidation {
        background: transparent;
        border: $challengeSectionColor solid 2px;
        margin-bottom: 50px;
        padding: 5px 30px;
        color: $challengeSectionColor;
        font-size: calc(0.5vw + 10px);
      }
      .form-answers-separator {
        margin-top: 0;
      }
      .latest-answer {
        margin-bottom: 50px;
      }
      .titlePicture {
        margin-top: 20px;
      }
      .picturesMarge {
        margin-top: 30px;
        margin-bottom: 50px;
      }
      .btn-default {
        border-color: transparent;
      }
      .btnReport {
        border-radius: 50px;
        background-color: $navBarsColor;
        color: white;
        font-size: calc(0.1vw + 8px);
      }
      .btnIntern {
        font-size: calc(0.3vw + 10px);
      }
      .modalReport1 {
        .btnReport {
          margin-top: 15px;
        }
      }
      .modal-body {
        h4 {
          margin-bottom: 30px;
        }
      }
      .modalReport {
        .modal-content {
          .modal-body {
            padding: 30px;
          }
        }
      }
    }
  }
}
