.challenge-index-section {
  height: 100vh;
  display: flex;
  font-family: 'Roboto', Helvetica, sans-serif;
  .pageContent {
    width: 100%;
    ul {
      padding: 30px 0;
      margin: 0;
      .row {
        padding: 0;
      }
      li {
        list-style: none;
        width: 100%;
        h2 {
          margin: 45px 0 0 80px;
          font-size: 24px;
          color: #424242;
          font-weight: 700;
          text-transform: uppercase;
        }
        .summary {
          margin: 20px 0 47px 80px;
          font-size: 13px;
          color: #8e8e8e;
          padding: 0;
        }
        a {
          button {
            margin: 20px 0 0 40px;
            background-color: $challengeSectionColor;
            width: 175px;
            height: 36px;
            border-radius: 100px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
      hr {
        border-top: 2px solid #979797;
        height: 1px;
      }
    }
  }
}

.challenge-response-section {
  height: 100vh;
  display: flex;
  font-family: 'Roboto', Helvetica, sans-serif;
  .pageContent {
    width: 100%;
    .row {
      margin: 0;
    }
    .page {
      padding-top: 30px;
      hr {
        margin-top: 50px;
      }
      h2 {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-weight: 700;
      }
      .videos {
        margin-top: 30px;
        .thumbnail {
          padding: 40px;
        }
      }
      .img-thumbnail {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
      }
      .titlePicture {
        margin-top: 20px;
      }
      .picturesMarge {
        margin-top: 30px;
        margin-bottom: 50px;
      }
      .btn-default {
        border-color: transparent;
      }
      .btnReport {
        border-radius: 50px;
        background-color: $navBarsColor;
        color: white;
        font-size: 0.5vw;
      }
      .btnIntern {
        font-size: 0.8vw;
      }
      .modalReport1 {
        .btnReport {
          margin-top: 15px;
        }
      }
      .modal-body {
        h4 {
          margin-bottom: 30px;
        }
      }
      .modalReport {
        .modal-content {
          .modal-body {
            padding: 30px;
          }
        }
      }
    }
  }
}
