@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

body {
  margin: 0;
  background-color: #FFF5E9;
  .pageContent {
    margin: 60px 0 0 150px;
  }
}



$navBarsColor: #363636;

@import "topBar";
@import "navbar";
@import "home";
@import 'admin';
@import "inform";
@import "game";
