@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

body {
  margin: 0;
}

@import "topBar";
@import "index";
@import "home";
@import 'admin';

