$paragraphColor: #4d4d4d;

.homeSection {
  display: flex;
  .pageContent {
    width: 100vw;
    padding-top: 20px;
    .logo-container {
      width: 100%;
      .logo-site {
        height: 240px;
      }
    }
    .homeText {
      margin-top: 60px;
      padding: 0;
      .website-introduction {
        margin-bottom: 81px;
        h1 {
          margin: 0;
          font-weight: 700;
          font-size: calc(1.7vw + 10px);
        }
        p {
          margin: 0;
          font-size: calc(1.4vw + 10px);
          color: $paragraphColor;
        }
      }
      .website-description {
        .section-descriptions-container {
          padding: 0;
          .section-description {
            h2 {
              margin: 0 0 5px 0;
              text-transform: uppercase;
              font-weight: 700;
              font-size: calc(0.8vw + 10px);
            }
            p {
              margin: 0 0 33px 0;
              color: $paragraphColor;
              font-size: calc(0.6vw + 10px);
            }

          }
        }
        img {
          height: 100px;
          width: auto;
          margin-bottom: 30px;
        }
      }
    }
  }
}