.info-section {
  display: flex;
  .pageContent {
    li {
      list-style-type: none;
      margin-top: 19px;
      a.pInfo {
        display: block;
      }
      a:hover {
        color: white;
        background: $middleLinkHover;
        text-decoration: none;
      }
      a:focus {
        text-decoration: none;
      }
    }
    .containerMenu {
      background: $middle;
      height: 100vh;
      position: fixed;
      padding: 0;
      .blockInfo {
        margin-top: 60px;
        padding-left: 0;
        text-align: center;
        .pInfo {
          font-size: calc(0.5vw + 10px);
          color: white;
        }
      }
    }
    .articles {
      margin-right: 0;
      .article {
        display: none;
        padding-bottom: 30px;
      .logoPlus {
        height: 150px;
        width: auto;
        margin-top: 50px;
      }
      }
    }
  }
}
.img_logo_wild {
  height: 150px;
  width: auto;
  margin-top: 0;
}
.names {
  margin-top: 40px;
}