.info-section {
  display: flex;
  .pageContent {
    li {
      list-style-type: none;
      margin-top: 19px;
      a.pInfo {
        display: block;
      }
      a:hover {
        color: white;
        background: $middleLinkHover;
        text-decoration: none;
      }
      a:focus {
        text-decoration: none;
      }
    }
    .containerMenu {
      background: $middle;
      height: 100vh;
      position: fixed;
      padding: 0;
      .blockInfo {
        margin-top: 60px;
        text-align: center;
        .pInfo {
          font-size: calc(0.5vw + 10px);
          color: white;
        }
      }
    }
    .articles {
      .article {
        display: none;
      }
    }
  }
}
