@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Please Keep this font import at the very top of any CSS file */

/* Starter CSS for Flyout Menu */

$top: $informSectionColor;
$middle: $gameSectionColor;
$last: $challengeSectionColor;


.tab {
  text-decoration: none;
}

.cssmenu {
  padding: 0;
  border: 0;
  z-index: 250;
  height: 100vh;
  color: #ffffff;
  position: fixed;
  width: 150px;
  background: $navBarsColor;
  zoom: 1;
  font-size: calc(0.5vw + 10px);
  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    .home {
      margin-top: 30px;
      background: #ffffff;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      padding: 15px 20px;
      .icon_home {
        margin-top: 7px;
      }
    }
    .homeLink {
      padding: 0;
    }
    .btnMenu {
      position: absolute;
      bottom: 13px;
      left: 13px;
      margin: 0;
      width: 124px;
      z-index: 251;
      font-size: calc(0.5vw + 10px);
      color: $navBarsColor;
      a {
        border-color: transparent;
        border-radius: 100px;
        padding: 0.5vh;
      }
    }
  }
  .iconsMenu {
    margin-top: 50vh;
    transform: translateY(-70%);
  }
  a {
    display: block;
    padding: 1vh;
    .img-circle {
      height: 80px;
      width: 80px;
    }
    .text {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      margin-top: 10px;
      font-weight: 700;
      font-size: calc(0.5vw + 10px);
    }
    .textHome {
      margin-top: -10px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      font-size: calc(0.5vw + 10px);
    }
  }
  a:hover {
    text-decoration: none;
  }
  .top {
    a:hover {
      background: $navbarSectionHover;
      @extend .tab;
    }
    &:focus {
      background: $top;
      @extend .tab;
    }
    margin-top: 5vh;
  }
  .middle {
    a:hover {
      background: $navbarSectionHover;
      @extend .tab;
    }
    &:focus {
      background: $middle;
      @extend .tab;
    }
  }
  .last {
    a:hover {
      background: $navbarSectionHover;
      @extend .tab;
    }
    &:focus {
      background: $last;
      @extend .tab;
    }
    margin-bottom: 7vh;
  }

  > ul {
    width: 150px;
    position: absolute;
    z-index: 250;
  }
  li {
    margin-top: 2vh;
    position: relative;
  }
  .align-right {
    float: right;
  }

  h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    @extend .subtitle;
  }

  h4 {
    @extend .subtitle;
  }

  h5 {
    font-weight: 700;
    text-align: center;
    margin-top: 10vh;
    font-size: calc(0.6vw + 10px);
    margin-bottom: -15px;
  }

  .submenuText {
    font-size: calc(0.5vw + 10px);
    text-align: center;
  }
}

.submenuTarget {
  visibility: visible;
  max-height: 100vh;
  position: absolute;
  width: 400px;
  padding: 0;
  margin: 0;
  border: 0;
  left: 100%;
  z-index: 1;
  opacity: 1;
}

.submenu {
  position: absolute;
  visibility: hidden;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 1s;
  z-index: 1;
  opacity: 0;
  a {
    padding: 0;
    text-decoration: none;
    color: #ffffff;
  }
}

#one {
  background: $top;
  a:hover {
    background: $topLinkHover;
  }
  @extend .submenu;
  &:target {
    @extend .submenuTarget;
  }
}

#two {
  background: $middle;
  a:hover {
    background: $middleLinkHover;
  }
  @extend .submenu;
  &:target {
    @extend .submenuTarget;
  }
}

#three {
  background: $last;
  a:hover {
    background: $lastLinkHover;
  }
  @extend .submenu;
  &:target {
    @extend .submenuTarget;
  }
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(0.7vw + 10px);
  font-weight: 700;
}
