@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */

/* Starter CSS for Flyout Menu */
$top: #EE6352;
$middle: #ED9B40;
$last: #71B48D;

.border-radius {
  border-radius: 20px 0 0 20px;
}

.cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 250;
  height: 100vh;
  color: #ffffff;
  position: fixed;
  width: 150px;
  background: $navBarsColor;
  zoom: 1;
  font-size: 12px;
  font-family: 'Roboto-Regular', Helvetica, sans-serif;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    .home {
      margin-top: 30px;
      background: #ffffff;
      width:80px;
      height:80px;
      border-radius:100%;
      .icon_home  {
        margin-top: 7px;
      }
    }
  }
  a {
    display: block;
    padding: 15px 20px;
    .text {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      margin-top: 10px;
      font-weight: 700;
      font-size: 18px;
    }
    .textHome {
      margin-top: -10px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }
  }
  .top {
    a:hover, a:focus {
      background: $top;
      @extend .border-radius;
      text-decoration: none;
    }
  }
  .middle {
    a:hover, a:focus {
      background: $middle;
      @extend .border-radius;
      text-decoration: none;
    }
  }
  .last {
    a:hover, a:focus {
      background: $last;
      @extend .border-radius;
      text-decoration: none;
    }
  }

  > ul {
    width: 150px;
    position: absolute;
    z-index: 250;
  }
  li {
    margin-top: 20px;
    position: relative;
  }
  .align-right {
    float: right;
  }

  h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    @extend .subtitle;
  }

  h4 {
    @extend .subtitle;
    margin-top: 10vh;
  }

  h5 {
    font-weight: 700;
    text-align: center;
    margin-top: 10vh;
    font-size: 20px;
    margin-bottom: -15px;
  }

  .submenuText {
    font-size: 20px;
    text-align: center;
  }
}
.submenuTarget {
  visibility: visible;
  max-height: 100vh;
  position: absolute;
  width: 400px;
  padding: 0;
  margin: 0;
  border: 0;
  left: 100%;
  z-index: 1;
  opacity: 1;
  border-radius: 0 20px 20px 0;
}
.submenu {
  position: absolute;
  visibility: hidden;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 1s;
  z-index: 1;
  opacity: 0;
}

#one {
  background: $top;
  @extend .submenu;
  &:target {
    @extend .submenuTarget;
  }
}

#two {
  background: $middle;
  @extend .submenu;
  &:target {
    @extend .submenuTarget;
  }
}

#three {
  background: $last;
  @extend .submenu;
  &:target {
    @extend .submenuTarget;
  }
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}