.presentation-section {
  height: 100vh;
}

.logo-association {
  position: absolute;
  right: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.logo-site {
}

.presentation-texte {
  font-size:3em;
  text-align: center;
  margin-top: 3%;
}
