
.quizzSection {
  background: url("../../web/images/Alimentation.png") repeat;
  height: 100vh;
  width: 100vw;
  .quizz {
    text-align: center;
    position: absolute;
    top: calc(60px + 15vh);
    left: calc(150px + 35vh);
    width: 55vw;
    .panel-info {
      box-shadow: black 2px 1px 4px;
      height: 70vh;
      h2 {
        padding-top: 50px;
        padding-bottom: 50px;
        span {
          color: darkgrey;
        }
      }
      .btn-info {
        background-color: #ED9B40;
        border-color: #ED9B40;
      }
      .panel-title {
        padding-bottom: 20px;
        font-size: 27px;
      }
      .panel-body {
        padding-bottom: 20px;
        font-size: 15px;
        .answer {
          padding-left: 5px;
          border-radius: 5px 5px 5px 5px;
          border: solid 1px #9d9d9d;
          text-align: left;
          padding-bottom: 10px;
          padding-top: 10px;
          margin: 2px 2px 2px 2px;
        }
        .answer:hover {
          background-color: #9d9d9d;
        }
        button {
          padding-left: 30px;
          padding-right: 30px;
          font-size: 25px;
          margin-top: 20px;
          border-radius: 5px 5px 5px 5px;
          border: solid 1px #04A777;
          color: #04A777;
          background-color: white;
        }
        button:hover {
          color: white;
          background-color: #04A777;
        }
      }
    }
    .panel-heading {
      background-color: #ED9B40;
      border-color: #ED9B40;
      color: white;
    }
  }
  .panel-info {
    box-shadow: black 2px 1px 4px;
    height: 70vh;
    h2 {
      padding-top: 50px;
      padding-bottom: 50px;
      span {
        color: darkgrey;
      }
    }
    .panel-title {
      padding-bottom: 20px;
      font-size: 20px;
    }
    a {
      background-color: #04A777;
    }
    .panel-body {
      padding-bottom: 20px;
      font-size: 15px;
      .answer {
        padding-left: 5px;
        border-radius: 5px 5px 5px 5px;
        border: solid 2px #9d9d9d;
        text-align: left;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 2px 2px 2px 2px;
      }
      button {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 25px;
        margin-top: 20px;
        border-radius: 5px 5px 5px 5px;
        border: solid 2px #04A777;
        color: #04A777;
        background-color: white;
      }
    }
  }
  .panel-primary {
    box-shadow: black 2px 1px 4px;
    height: 70vh;
    h2 {
      padding-top: 50px;
      padding-bottom: 50px;
      span {
        color: darkgrey;
      }
    }
    .btn-info {
      background-color: #ED9B40;
      border-color: #ED9B40;
    }
    .panel-title {
      padding-bottom: 20px;
      font-size: 27px;
    }
    a {
      background-color: #04A777;
    }
    .panel-body {
      padding-bottom: 20px;
      font-size: 15px;
    }
  }
  .panel-heading {
    background-color: #ED9B40;
    border-color: #ED9B40;
    color: white;
  }
}

