.info-section-Resource {
  display: flex;
  .pageContent {
    width: 100vw;
    .pageResource {
      margin: 0;
      li {
        margin-top: 19px;
        list-style-type: none;

      }
      .containerMenuResource {
        background: $informSectionColor;
        height: 100vh;
        width: 300px;
        padding: 0;
        position: fixed;
        .blockInfo {
          margin-top: 60px;
          text-align: center;
          padding: 0;
          a {
            display: block;
          }
          a:hover {
            color: white;
            text-decoration: none;
            background: $topLinkHover;
          }
          a:focus {
            text-decoration: none;
          }
          .titleInfo {
            font-size: calc(0.5vw + 10px);
            color: white;
          }
        }
      }
      .articles {
        padding-left: 30px;
        padding-right: 60px;
        padding-top: 30px;

        ul {
          li {
            a {
              .title {
                font-weight: 700;
                text-transform: uppercase;
                color: #424242;
                font-size: calc(1vw + 10px);
              }
            }
            a:hover {
              .title {
                color: $informSectionColor;
              }
              text-decoration: none;
            }
            a:focus {
              text-decoration: none;
            }
            .date {
              text-align: right;
              font-size: calc(0.2vw + 10px);
              color: $textDescription;
            }
            .description {
              margin: 20px 0 20px 40px;
              font-size: calc(0.3vw + 10px);
              color: $textDescription;
            }
          }

        }
      }
    }
  }
}
