.colorBackground {
  background-color: $navBarsColor;
}

.colorBackgroundTop {
  background-color: $informSectionColor;
}

.colorBackgroundMiddle {
  background-color: $gameSectionColor;
}

.colorBackgroundLast {
  background-color: $challengeSectionColor;
}

.topBar {
  height: 60px;
  position: fixed;
  z-index: 1;
  .row {
    margin-right: 0;
  }
  .btn {
    background: #ffffff;
    border-radius: 100px;
    height: 36px;
    font-family: 'Roboto-Regular', Helvetica, sans-serif;
    font-size: 18px;
    color: #363636;
    transform: translate(-15%, 35%);
    .glyphicon {
      vertical-align: -5%;
    }
  }

  .title_topbar {
    padding-left: 160px;
    margin-top: 15px;
    font-family: 'Roboto-Regular', Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
  }

  p {
    margin-bottom: 0;
  }
}

