.topBar{
  background-color: $navBarsColor;
  height: 70px;
  position: absolute;
  z-index: 1;
  margin-right: 0;
}

.btn{
  margin-bottom: 10px;

}

.title_topbar{
  margin-top: 15px;
}

p{
  margin-bottom: 0;
}