{% extends "admin/layoutAdmin.html.twig" %}


{% block pageContent %}

    <section class="adminLogin">
        {% if error %}
            <div>Nom d'utilisateur ou mot de passe incorrect.</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" class="loginForm">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" required="required"/>
            <div>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">Maintenir la session ouverte</label>
            </div>

            <input type="submit" id="_submit" class="btn_admin" name="_submit" value="Connexion"/>
        </form>
    </section>

{% endblock %}