{% extends 'base.html.twig' %}

{% block body %}
    <section class="home-section">
        <div class="home-rubriques-container col-md-offset-1 col-md-9">
            <div class="home-rubrique">
                <a href="#"><img src="http://via.placeholder.com/300x300" alt="S'informer"></a>
                <h2>S'informer</h2>
                <hr>
                <p>Explorer l’actualité du développement durable et du gaspillage alimentaire</p>
            </div>
            <div class="home-rubrique">
                <a href="#"><img src="http://via.placeholder.com/300x300" alt="S'entraîner"></a>
                <h2>S'entraîner</h2>
                <hr>
                <p>Teste tes connaissances et tes réflexes sur le gaspillage alimentaire</p>
            </div>
            <div class="home-rubrique">
                <a href="#"><img src="http://via.placeholder.com/300x300" alt="Faire des défis"></a>
                <h2>Faire des défis</h2>
                <hr>
                <p>Réalises des défis et change ton comportement</p>
            </div>
        </div>
    </section>
{% endblock %}
