<nav class="nav navbar navbar-fixed-top topBar">
    <div class="row">
        <div>
            <p class="text-center title_topbar">Menu principal
                <a href="#" class="btn btn-default pull-right"><span><img src="{{ asset('images/icons/icon_account.svg') }}"/></span>  Mon compte</a>
            </p>
        </div>
    </div>
</nav>