<nav class="nav navbar navbar-fixed-top topBar">
    <div class="row">
        <div>
            <p class="text-center title_topbar">Menu principal
                <a href="#" class="btn btn-default pull-right"><span class="glyphicon glyphicon-user"></span> Mon compte</a>
            </p>
        </div>
    </div>
</nav>