{% extends 'layout.html.twig' %}


{% block pageContent %}

    <section class="informMenu-index-section">
        <div class="pageContent">
            <div class="row col-xs-2 containerMenu">
                <div class="blockInfo">
                    <li><a href="" class="pInfo">Questions fréquentes</a></li>
                    <li><a href="" class="pInfo">Mentions légales et CGU</a></li>
                    <li><a href="" class="pInfo">Crédits</a></li>
                </div>
            </div>
            <div class="row col-xs-10">
                <ul>
                    <li class="row">
                        <div class="row col-xs-offset-1 col-xs-11">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="row">
                                        <h2>EXEMPLE DE TITRE</h2>
                                    </div>
                                    <div class="row">
                                        <p class="col-xs-12 summary">
                                            Eo adducta re per Isauriam, rege Persarum bellis finitimis inligato
                                            repellenteque a conlimitiis suis ferocissimas gentes,
                                            quae mente quadam versabili hostiliter eum saepe incessunt et in nos arma
                                            moventem aliquotiens iuvant,
                                            Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens
                                            copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam
                                            locum vi subita perrupturus.
                                            Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens
                                            copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam
                                            locum vi subita perrupturus.
                                            Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens
                                            copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam
                                            locum vi subita perrupturus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row col-xs-10">
                <ul>
                    <li class="row">
                        <div class="row col-xs-offset-1 col-xs-11">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="row">
                                        <h2>EXEMPLE DE TITRE</h2>
                                    </div>
                                    <div class="row">
                                        <p class="col-xs-12 summary">
                                            Eo adducta re per Isauriam, rege Persarum bellis finitimis inligato
                                            repellenteque a conlimitiis suis ferocissimas gentes,
                                            quae mente quadam versabili hostiliter eum saepe incessunt et in nos arma
                                            moventem aliquotiens iuvant,
                                            Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens
                                            copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam
                                            locum vi subita perrupturus.
                                            Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens
                                            copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam
                                            locum vi subita perrupturus.
                                            Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens
                                            copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam
                                            locum vi subita perrupturus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row col-xs-10">
                <ul>
                    <li class="row">
                        <div class="row col-xs-offset-1 col-xs-11">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="row">
                                        <h2>EXEMPLE DE TITRE</h2>
                                    </div>
                                    <div class="row">
                                        <p class="col-xs-12 summary">
                                            Eo adducta re per Isauriam, rege Persarum bellis finitimis inligato
                                            repellenteque a conlimitiis suis ferocissimas gentes,
                                            quae mente quadam versabili hostiliter eum saepe incessunt et in nos arma
                                            moventem aliquotiens iuvant,
                                            Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens
                                            copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam
                                            locum vi subita perrupturus.
                                            Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens
                                            copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam
                                            locum vi subita perrupturus.
                                            Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens
                                            copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam
                                            locum vi subita perrupturus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}