{% extends 'base.html.twig' %}

{% block body %}
    <section class="accueil-section scrollable-section" data-section-name="accueil">
        <h1 class="accueil-titre-principal">Accueil</h1>
        <div class="scroll-arrow-container"><span class="scroll-arrow glyphicon glyphicon-menu-down" id="scroll"></span></div>
    </section>

    <section class="sommaire-section scrollable-section" data-section-name="sommaire">
        <div class="sommaire-rubriques">
            <a href="#"><img src="http://via.placeholder.com/200x200" alt="S'informer"></a>
            <a href="#"><img src="http://via.placeholder.com/200x200" alt="S'entraîner"></a>
            <a href="#"><img src="http://via.placeholder.com/200x200" alt="Produire"></a>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/accueil.js') }}"></script>
{% endblock %}
