{% extends 'layout.html.twig' %}
{% block pageContent %}
    <div class="quizz">

        <div class="panel panel-primary">
            <h2>Reponse</h2>
            <h3 class="panel-title"> réponse</h3>
            <div class="panel-body">

            </div>
        </div>

    </div>
{% endblock %}