{% extends 'layout.html.twig' %}

{% block title %}Quiz | Resteatable{% endblock %}

{% block topBar %}
    {% include 'topBar.html.twig' with {'colorBackground': 'colorBackgroundMiddle', 'title':'Les quiz'} %}
{% endblock %}

{% block pageContent %}
    <section class="quiz-index-section">
        <div class="pageContent">
            <ul>
                {% for title in quizz %}
                <li class="row">
                    <div class="row col-xs-offset-1 col-xs-10">
                        <div class="row">
                            <div class="col-xs-3 vignetteContainer">
                                <img src="http://via.placeholder.com/350x215"
                                     class="img-responsive img-thumbnail vignette">
                            </div>
                            <div class="col-xs-9">
                                <div class="row">
                                    <h2>{{ title.name }}</h2>
                                </div>
                                <div class="row">
                                    <p class="col-xs-6 summary">
                                        Eo adducta re per Isauriam, rege Persarum bellis finitimis inligato
                                        repellenteque a conlimitiis suis ferocissimas gentes, quae mente quadam
                                        versabili hostiliter.
                                    </p>
                                    <div class="col-xs-3 pull-right">
                                        <a href="{{ path('quizTest', {'id': title.id, 'questionNbr' : 1}) }}" class="pull-right">
                                            <button class="btn">Jouer</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{  not loop.last ? '<hr class="row"/>' }}
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
