<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block navbar %}
    {% include 'public/home/navbar.html.twig' %}
{% endblock %}
{% block topBar %}
    {% include 'public/home/topBar.html.twig' %}
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/vendor.js') }}"></script>
{% endblock %}
</body>
</html>
