{% extends 'layout.html.twig' %}

{% block title %}Défis chez toi | Resteatable{% endblock %}


{% block topBar %}
    {% include 'topBar.html.twig' with {'colorBackground': 'colorBackgroundLast', 'title':'Défis chez toi'} %}
{% endblock %}

{% block pageContent %}
    <section class="challenge-index-section">
        <div class="pageContent">
            <ul>
                <li class="row">
                    <div class="row col-xs-offset-1 col-xs-10">
                        <div class="row">
                            <div class="row">
                                <h2>Faire des recettes</h2>
                            </div>
                            <div class="row">
                                <p class="col-xs-6 summary">
                                    Tu dois créer deux recettes qui vont te permettre de cuisiner tes restes. Une fois
                                    que tu les auras créés, envoie-nous tes recettes !
                                    <br/>Tu peux t'inspirer de ce site qui propose de cuisiner les restes :
                                    <a href="https://www.lebruitdufrigo.fr">lebruitdufrigo.fr</a>
                                </p>
                                <div class="col-xs-3 pull-right">
                                    <a href="#" class="pull-right"> {#TODO link#}
                                        <button class="btn">Faire le défi</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr class="row"/>
                    </div>
                </li>
                <li class="row">
                    <div class="row col-xs-offset-1 col-xs-10">
                        <div class="row">
                            <div class="row">
                                <h2>Faire attention aux courses</h2>
                            </div>
                            <div class="row">
                                <p class="col-xs-6 summary">
                                    Prends une photo de tes courses d'une semaine et partage-la avec nous !
                                    <br/>Tu peux aller faire un tour du côté de l'expo <a href="https://www.dailymotion.com/cdn/manifest/video/x4n8w34.m3u8?auth=1509812504-2688-kiv5
9r6o-7e7381c5d7a8be869940b43ed7f06051">"A table"</a> pour te donner des idées.
                                </p>
                                <div class="col-xs-3 pull-right">
                                    <a href="#" class="pull-right"> {#TODO link#}
                                        <button class="btn">Faire le défi</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr class="row"/>
                    </div>
                </li>
                <li class="row">
                    <div class="row col-xs-offset-1 col-xs-10">
                        <div class="row">
                            <div class="row">
                                <h2>Organiser un repas zéro gaspi</h2>
                            </div>
                            <div class="row">
                                <p class="col-xs-6 summary">
                                    Invite tes amis et fais un apéro ou repas zéro gaspi avec eux ! Fais-nous part de la date de l'évènement !
                                    <br/><em>"Viens prendre un petit apéro zéro gaspi avec moi ce soir !!!"</em>

                                </p>
                                <div class="col-xs-3 pull-right">
                                    <a href="#" class="pull-right"> {#TODO link#}
                                        <button class="btn">Faire le défi</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
