{% extends 'layout.html.twig' %}

{% block title %}Défis Réponses | Resteatable{% endblock %}

        {% block topBar %}
            {% include 'topBar.html.twig' with {'colorBackground': 'colorBackgroundLast', 'title': descriptionChallenge.title } %}
        {% endblock %}

        {% block pageContent %}
            <section class="challenge-response-section">
                <div class="pageContent">
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10 page">
                            <div class="row">
                                <h2>{{ descriptionChallenge.title }}</h2>
                                <p>{{ descriptionChallenge.content | raw }}</p>
                            </div>

                            {% if descriptionChallenge.isVideo == true %}
                                <div class="row">
                                    <div class="videos">
                                        <div class="col-md-offset-1 col-md-5">
                                            <iframe frameborder="0" width="480" height="270"
                                                    src="//www.dailymotion.com/embed/video/x13fp"
                                                    allowfullscreen></iframe>
                                        </div>
                                        <div class="col-md-5">
                                            <iframe frameborder="0" width="480" height="270"
                                                    src="//www.dailymotion.com/embed/video/xrhzkq"
                                                    allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <hr/>

                            <div class="row">
                                <h2 class="text-center">Participer au défi</h2>
                            </div>

                            <hr/>

                            <div class="row">
                                <h2 class="text-center">Ils ont déjà réalisé le défi</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

