{% extends 'layout.html.twig' %}

{% block title %}Défis Réponses | Resteatable{% endblock %}

{% for descriptionChallenge in descriptionsChallenges %}
    {% if descriptionChallenge.id == 1 or descriptionChallenge.id == 2 %}

    {% block topBar %}
        {% include 'topBar.html.twig' with {'colorBackground': 'colorBackgroundLast', 'title':{{ descriptionChallenge.title}} %}
    {% endblock %}

        {% block pageContent %}

                {#TODO appel content en fonction de l'id#}

            <hr/>

            <h2>Participer au défi</h2>

                {#TODO appel form#}

            <hr/>

            <h2>Ils ont déjà réalisé le défi</h2>

        {% endblock %}

    {% endif %}
{% endfor %}