{% extends 'layout.html.twig' %}

{% block title %}Défis Réponses | Resteatable{% endblock %}

{% for descriptionChallenge in descriptionsChallenges %}
    {% if descriptionChallenge.id == 7 or descriptionChallenge.id == 11 %}

    {% block topBar %}
        {% include 'topBar.html.twig' with {'colorBackground': 'colorBackgroundLast', 'title':{{ descriptionChallenge.title}} %}
    {% endblock %}

        {% block pageContent %}
            <p>
                {#TODO appel content en fonction de l'id#}
            </p>

            <div class="row">
                <div class="col-sm-6">
                    <video src="http://www.dailymotion.com/video/x13fp"></video>
                </div>
                <div class="col-sm-6">
                    <video src="http://www.dailymotion.com/video/xrhzkq"></video>
                </div>
            </div>

            <hr/>

            <h2>Participer au défi</h2>

                {#TODO appel form#}

            <hr/>

            <h2>Ils ont déjà réalisé le défi</h2>

        {% endblock %}

    {% endif %}
{% endfor %}